.search {
    width: 30%;
}

.imgCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.button-link {
    color: #ffffff;
    text-decoration: none;
    padding-bottom: 2px;
    border-bottom: 2px solid transparent;
}