.active-link {
    font-weight: bold;
  }

.nav-link {
    color: #ffffff;
    text-decoration: none;
    padding-bottom: 2px;
    border-bottom: 2px solid transparent;
}

.nav-link.active-link {
    border-bottom-color: #ffffff;
  }